.castItemThumb {
    text-align: center;
    padding: 10px;
}

.castItemTitle {
    letter-spacing: -.02em;
    line-height: .89em;
    margin-bottom: 10px;
}

.castItemCharacter {
    font-size: 15px;
    letter-spacing: -.02em;
    line-height: .89em;
}

.castItemSpan {
    font-weight: 700;
}

.castImg {
    display: block;
    width: 200px;
    height: 300px;
    background-image: url('../../img/image-not-found.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}